
package-lock.json
node_modules
npm-debug.log
npm-debug.log*
build
rev
dist
cdn
logs

workspace.xml
.idea
.vscode
*.iml
Thumbs.db
debug.log

!build/.git
.project
gulpfile.settings.js

*.rej
*.swp
*.swo
*.diff
tmp.*
*.compile.sh
.tags
.tags1
.DS_Store
package-lock.json
