<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/jquery-3.3.1.min.js"></script>
    
    <link rel="stylesheet" href="/css/index.css">

    <link rel="stylesheet" type="text/css" href="/css/iview.css">
    <script type="text/javascript" src="/js/vue.min.js"></script>
    <script type="text/javascript" src="/js/iview.min.js"></script>

    <title>Document</title>
</head>

<body>
    <div id="app" class="main">
            <Modal v-model="visible" title="Welcome">欢迎使用 iView</Modal>

        <header>hello word shiyawei</header>
        <Layout>
                <Header>Header</Header>
                <Layout>
                    <Sider hide-trigger>Sider</Sider>
                    <Content>Content</Content>
                </Layout>
                <Footer>Footer</Footer>
            </Layout>
        <div class="content">
            <table cellspacing="0" cellpadding="0" class="table1">
                <thead>
                    <tr>
                        <td>序号</td>
                        <td>商品名称</td>
                        <td>单位</td>
                        <td>数量</td>
                        <td>单价</td>
                        <td>操作</td>
                    </tr>
                </thead>

                <tbody class="tbody1">
                    <tr v-for="(item,index) in list" :key="index">
                        <td>{{(index+1)}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.company}}</td>
                        <td>{{item.num}}</td>
                        <td>{{item.price}}</td>
                        <td>
                            <Button type="primary"  @click="updata(index)">编辑</Button>
                            <button>编辑</button>
                            <button @click="delitem(index)">删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="/js/index.js"></script>

</body>

</html>