<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <script src="/js/jquery-3.3.1.min.js"></script>
    
    <link rel="stylesheet" href="/css/index.css">

    <link rel="stylesheet" type="text/css" href="/css/iview.css">
    <script type="text/javascript" src="/js/vue.min.js"></script>
    <script type="text/javascript" src="/js/iview.min.js"></script>

    <title>添加商品</title>
</head>

<body>
    <div id="app" class="main">

        <header>
            <a href="" class="on">添加商品</a>
            <a href="http://localhost:8080/excel" >导出商品</a>
        </header>

        <div class="form">
            <input type="text" placeholder="商品名称" v-model="googs.name">
            <input type="number" placeholder="价格" v-model="googs.price">
            <span class="span">元</span>
            <input type="number" placeholder="数量" v-model="googs.num">
            <input type="text" placeholder="单位" v-model="googs.company">
            <i-button type="primary" @click="add">添加</i-button>
        </div>

        <div class="content">
            <table cellspacing="0" cellpadding="0" class="table1">
                <thead>
                    <tr>
                        <td width="10%">序号</td>
                        <td width="30%">商品名称</td>
                        <td width="10%">单价</td>
                        <td width="10%">数量</td>
                        <td width="10%">单位</td>
                        <td width="30%">操作</td>
                    </tr>
                </thead>

                <tbody class="tbody1">
                    <tr v-for="(item,index) in list" :key="index">
                        <td>{{(index+1)}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.price}} 元</td>
                        <td>{{item.num}}</td>
                        <td>{{item.company}}</td>
                        <td>
                            <i-button type="primary" @click="toggleAlert(item)">编辑</i-button>
                            <i-button type="error" @click="delect(item._id,index)">删除</i-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div v-show="ishow">
            <div class="black_box"></div>
            <div class="alert_box">
                <div class="js_close" @click="toggleAlert">×</div>
                <h3>修改商品:</h3>
                <div class="form">
                    <input type="text" placeholder="商品名称" v-model="curgoogs.name">
                    <input type="number" placeholder="价格" v-model="curgoogs.price">
                    <span>元</span>
                    <input type="number" placeholder="数量" v-model="curgoogs.num">
                    <input type="text" placeholder="单位" v-model="curgoogs.company">
                    <i-button type="primary" @click="updata">确定</i-button>
                </div>
            </div>
        </div>

        <Spin v-if="isload" fix>{{loadtxt}}</Spin>

    </div>


    <script src="/js/index.js"></script>

</body>

</html>